/*
primary #091B31
secondary #F9C040
accent 1 #BEC1C3
accent 2 #6D3D14
*/

#content{
    max-width: 1600px;
    margin: 0 auto;
}

header{
    background-color: #091B31;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 150px auto;
}

.logo{
    border-radius: 50%;
    padding: 2em;
    width: 110px;
    height: 110px;
}

h1{
    color: white;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    background-color: #091B31;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
