
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}
header {
    background-color: white;
    text-align: center;
    padding-top: 1rem;
}
header h1{
    margin-bottom: 1rem;
}
.main-nav {
    list-style: none;
    justify-content: end;
    gap: 1.5rem;
    padding: 1rem 2rem;
    margin: 0;
    border-top: 2px solid gold;
    border-bottom: 2px solid gold;
    display: grid;
    grid-template-columns: repeat(3, auto);
}
.main-nav a {
    color: #b30059;
    text-decoration: none;
    font-weight: bold;
}
.main-nav a:hover{
    text-decoration: underline;
}
main{
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 1rem;
}
#book-list {
    padding: 0 2rem;
}
.book {
    border: 2px solid #ccc;
    padding: 1rem;
    border-radius: 10px;
    max-width: 700px;
    margin: 20px auto;
}
.book h2 {
    color: #b30059;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px;
}
.book p {
    padding-left: 20px;
}
.book img {
    max-width: 100%;
    display: block;
    border-radius: 8px;
    margin: 0 auto;
}
#desc {
    grid-column: 1/3;
}
footer {
    text-align: center;
    border-top: 2px solid gold;
    background-color: white;
    padding: 1rem;
    margin-top: 2rem;
}

@media (max-width: 700px) {
    
    .review {
        grid-template-columns: 1fr;
    }

    .review-details {
        text-align: left;
        border-right: none;
        border-bottom: 2px solid #ddd;
        padding-right: 0;
        padding-bottom: 1rem;
    }

    .main-nav {
        justify-content: center;
    }
}